.jouele {
  width: 100%;
  position: relative;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 13px;
}

.jouele,
.jouele * {
  line-height: 1.4em;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
}

.jouele-progress-area {
  height: 15px;
  margin: 0 8px .375em 8px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 2px 16px #f0f0f0;
}

.jouele-progress-area * {
  position: absolute;
}

.jouele-mine-left,
.jouele-mine-right,
.jouele-mine {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #ffffff;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(7%, #e0e0e0), color-stop(7%, #f7f7f7), color-stop(93%, #f7f7f7), color-stop(93%, #ffffff));
  background-image: -webkit-linear-gradient(bottom, #e0e0e0 7%, #f7f7f7 7%, #f7f7f7 93%, #ffffff 93%);
  background-image: -moz-linear-gradient(bottom, #e0e0e0 7%, #f7f7f7 7%, #f7f7f7 93%, #ffffff 93%);
  background-image: -o-linear-gradient(bottom, #e0e0e0 7%, #f7f7f7 7%, #f7f7f7 93%, #ffffff 93%);
  background-image: -ms-linear-gradient(bottom, #e0e0e0 7%, #f7f7f7 7%, #f7f7f7 93%, #ffffff 93%);
  background-image: linear-gradient(bottom, #e0e0e0 7%, #f7f7f7 7%, #f7f7f7 93%, #ffffff 93%);
}

.jouele-load-bar-left,
.jouele-load-bar,
.jouele-load-bar-right {
  border-top: 1px solid #a0a0a0;
  border-bottom: 1px solid #ffffff;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f2f0e5), color-stop(67%, #e7e5d9), color-stop(100%, #bcbaad));
  background-image: -webkit-linear-gradient(bottom, #f2f0e5 0%, #e7e5d9 67%, #bcbaad 100%);
  background-image: -moz-linear-gradient(bottom, #f2f0e5 0%, #e7e5d9 67%, #bcbaad 100%);
  background-image: -o-linear-gradient(bottom, #f2f0e5 0%, #e7e5d9 67%, #bcbaad 100%);
  background-image: -ms-linear-gradient(bottom, #f2f0e5 0%, #e7e5d9 67%, #bcbaad 100%);
  background-image: linear-gradient(bottom, #f2f0e5 0%, #e7e5d9 67%, #bcbaad 100%);
}

.jouele-mine-left,
.jouele-mine-right,
.jouele-load-bar-left,
.jouele-load-bar-right {
  border-radius: 8px;
  width: 15px;
  height: 15px;
  top: 0;
}

.jouele-load-bar-left,
.jouele-load-bar-right {
  top: -1px;
  margin: 0 -7.5px;
}

.jouele-mine-left {
  left: -8px;
}

.jouele-mine-right {
  right: -8px;
}

.jouele-mine {
  width: 100%;
  height: 15px;
  top: 0;
  z-index: 10;
}

.jouele-play-bar,
.jouele-play-bar-left {
  border-top: 1px solid #024694;
  border-bottom: 1px solid #ffffff;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #00b9f1), color-stop(67%, #0099f2), color-stop(100%, #0069f2));
  background-image: -webkit-linear-gradient(bottom, #00b9f1 0%, #0099f2 67%, #0069f2 100%);
  background-image: -moz-linear-gradient(bottom, #00b9f1 0%, #0099f2 67%, #0069f2 100%);
  background-image: -o-linear-gradient(bottom, #00b9f1 0%, #0099f2 67%, #0069f2 100%);
  background-image: -ms-linear-gradient(bottom, #00b9f1 0%, #0099f2 67%, #0069f2 100%);
  background-image: linear-gradient(bottom, #00b9f1 0%, #0099f2 67%, #0069f2 100%);
}

.jouele-load-bar {
  top: -1px;
  width: 0;
  height: 15px;
  z-index: 20;
  cursor: pointer;
  cursor: hand;
}

.jouele-play-bar-left {
  border-radius: 8px;
  width: 15px;
  height: 15px;
  top: -1px;
  left: -8px;
  z-index: 19;
}

.jouele-play-bar {
  top: -1px;
  width: 0;
  height: 15px;
  z-index: 30;
  cursor: pointer;
  cursor: hand;
}

.jouele-play-lift {
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  margin-left: -7px;
  box-shadow: 0 1px 2px #808080;
  z-index: 40;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e3e3e3), color-stop(100%, #fefefd));
  background-image: -webkit-linear-gradient(bottom, #e3e3e3 0%, #fefefd 100%);
  background-image: -moz-linear-gradient(bottom, #e3e3e3 0%, #fefefd 100%);
  background-image: -o-linear-gradient(bottom, #e3e3e3 0%, #fefefd 100%);
  background-image: -ms-linear-gradient(bottom, #e3e3e3 0%, #fefefd 100%);
  background-image: linear-gradient(bottom, #e3e3e3 0%, #fefefd 100%);
  cursor: pointer;
  cursor: hand;
}

.jouele-buffering {
  left: 1px;
  top: 1px;
  width: 12px;
  height: 12px;
  background: url("i/jouele-buffering.gif");
}

.jouele-info-area {
  position: relative;
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
}

.jouele-play-control {
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  cursor: pointer;
  cursor: hand;
}

.jouele-unavailable,
.jouele-play,
.jouele-pause {
  width: 16px;
  height: 16px;
}

.jouele-unavailable,
.jouele-play,
.jouele-pause,
.jouele-download {
  background: url("i/jouele-sprite.png") 16px center;
}

.jouele-unavailable {
  background-position: 0px;
}

.jouele-play {
  background-position: -16px;
}

.jouele-pause {
  background-position: -32px;
}

.jouele-download {
  position: absolute;
  right: 0;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background-position: -48px;
}

.jouele-play-time,
.jouele-total-time {
  min-width: 80px;
  min-height: 1em;
  height: 100%;
}

.jouele-play-time {
  position: absolute;
  left: 24px;
  text-align: left;
}

.jouele-total-time {
  position: absolute;
  right: 24px;
  text-align: right;
}

.jouele-name {
  margin: 0 100px;
  min-height: 1.4em;
}

.jouele-skin-dark * {
  color: #ccc;
}
.jouele-skin-dark .jouele-progress-area {
  box-shadow: 0 2px 8px #fff;
  box-shadow: none;
}
.jouele-skin-dark .jouele-mine-left,
.jouele-skin-dark .jouele-mine-right,
.jouele-skin-dark .jouele-mine {
  border-top: 1px solid #292733;
  border-bottom: 1px solid #575c6a;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(7%, #3b404c), color-stop(7%, #484b54), color-stop(93%, #484b54), color-stop(93%, #4f545f));
  background-image: -webkit-linear-gradient(bottom, #3b404c 7%, #484b54 7%, #484b54 93%, #4f545f 93%);
  background-image: -moz-linear-gradient(bottom, #3b404c 7%, #484b54 7%, #484b54 93%, #4f545f 93%);
  background-image: -o-linear-gradient(bottom, #3b404c 7%, #484b54 7%, #484b54 93%, #4f545f 93%);
  background-image: -ms-linear-gradient(bottom, #3b404c 7%, #484b54 7%, #484b54 93%, #4f545f 93%);
  background-image: linear-gradient(bottom, #3b404c 7%, #484b54 7%, #484b54 93%, #4f545f 93%);
}
.jouele-skin-dark .jouele-load-bar-left,
.jouele-skin-dark .jouele-load-bar,
.jouele-skin-dark .jouele-load-bar-right {
  border-top: 1px solid #292733;
  border-bottom: 1px solid #575c6a;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #434854), color-stop(67%, #404550), color-stop(100%, #343944));
  background-image: -webkit-linear-gradient(bottom, #434854 0%, #404550 67%, #343944 100%);
  background-image: -moz-linear-gradient(bottom, #434854 0%, #404550 67%, #343944 100%);
  background-image: -o-linear-gradient(bottom, #434854 0%, #404550 67%, #343944 100%);
  background-image: -ms-linear-gradient(bottom, #434854 0%, #404550 67%, #343944 100%);
  background-image: linear-gradient(bottom, #434854 0%, #404550 67%, #343944 100%);
}
.jouele-skin-dark .jouele-play-bar,
.jouele-skin-dark .jouele-play-bar-left {
  border-top: 1px solid #2d436d;
  border-bottom: 1px solid #66c8fd;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #00b9f1), color-stop(67%, #0099f2), color-stop(100%, #0069f2));
  background-image: -webkit-linear-gradient(bottom, #00b9f1 0%, #0099f2 67%, #0069f2 100%);
  background-image: -moz-linear-gradient(bottom, #00b9f1 0%, #0099f2 67%, #0069f2 100%);
  background-image: -o-linear-gradient(bottom, #00b9f1 0%, #0099f2 67%, #0069f2 100%);
  background-image: -ms-linear-gradient(bottom, #00b9f1 0%, #0099f2 67%, #0069f2 100%);
  background-image: linear-gradient(bottom, #00b9f1 0%, #0099f2 67%, #0069f2 100%);
}
.jouele-skin-dark .jouele-unavailable,
.jouele-skin-dark .jouele-play,
.jouele-skin-dark .jouele-pause,
.jouele-skin-dark .jouele-download {
  background-image: url("i/jouele-sprite-skin-dark.png");
}
.jouele-skin-dark .jouele-play-lift {
  box-shadow: 0 1px 1px #000;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(bottom, #ffffff 0%, #ededed 100%);
  background-image: -moz-linear-gradient(bottom, #ffffff 0%, #ededed 100%);
  background-image: -o-linear-gradient(bottom, #ffffff 0%, #ededed 100%);
  background-image: -ms-linear-gradient(bottom, #ffffff 0%, #ededed 100%);
  background-image: linear-gradient(bottom, #ffffff 0%, #ededed 100%);
  cursor: pointer;
  cursor: hand;
}
.jouele-skin-dark .jouele-info-area {
  text-shadow: 0px -1px 0px black;
  text-shadow: none;
}
