.jouele {
    display: block;
    position: relative;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 16px;
}

.jouele,
.jouele * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.jouele-progress-area {
    position: relative;
    width: 100%;
    height: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jouele-mine {
    width: 100%;
    top: 0;
    height: 11px;
    position: absolute;
}

.jouele-mine-bar,
.jouele-load-bar,
.jouele-play-bar {
    position: absolute;
    box-sizing: border-box;
}
.jouele-mine-bar:after,
.jouele-load-bar:after,
.jouele-play-bar:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
}

.jouele-mine-bar {
    height: 11px;
    width: 100%;
    top: 0;
    z-index: 10;
}
.jouele-mine-bar:after {
    background: #dddddd;
}

.jouele-load-bar {
    height: 11px;
    width: 100%;
    top: 0;
    z-index: 20;
    cursor: pointer;
}
.jouele-load-bar:after {
    background: #bfbfbf;
}

.jouele-play-bar {
    height: 11px;
    top: 0;
    z-index: 30;
    cursor: pointer;
}
.jouele-play-bar:after {
    background: #f59331;
}

.jouele-play-lift {
    left: 0;
    top: 50%;
    width: 4px;
    height: 4px;
    margin: -1px 0 0;
    border-radius: 50%;
    z-index: 40;
    background: #f59331;
    cursor: pointer;
    position: absolute;
}

.jouele-buffering {
    position: absolute;
    left: -3px;
    top: -3px;
    width: 8px;
    height: 8px;
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-duration: 0.33s;
    -moz-transition-duration: 0.33s;
    -o-transition-duration: 0.33s;
    transition-duration: 0.33s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.jouele-buffering:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 50%;
    border-color: #f59331 #f59331 transparent;
    animation: cssload-spin 960ms infinite linear;
    -o-animation: cssload-spin 960ms infinite linear;
    -ms-animation: cssload-spin 960ms infinite linear;
    -webkit-animation: cssload-spin 960ms infinite linear;
    -moz-animation: cssload-spin 960ms infinite linear;
}

.jouele-buffering_visible_true {
    opacity: 1;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}


.jouele-info-area {
    z-index: 100;
    position: relative;
    overflow: hidden;
    padding: 0 0 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.67);
}

.jouele-play-control {
    float: left;
    width: 16px;
    height: 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jouele-play-pause {
    display: block;
}

.jouele-unavailable,
.jouele-play,
.jouele-pause {
    display: block;
    height: 16px;
    background-repeat: no-repeat;
    background: url("../dist/i/jouele-sprite.png");
    background: rgba(0, 0, 0, 0) url("../dist/i/jouele-sprite.svg");
    background-size: auto 16px;
}

.jouele-unavailable {
    background-position: 0 0;
}

.jouele-play {
    background-position: -17px 0;
}

.jouele-pause {
    background-position: -34px 0;
}

.jouele-time {
    float: right;
    font-size: 11px;
    color: #606060;
    text-align: right;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jouele-play-time {
    float: left;
    margin-right: .5em;
}

.jouele-total-time {
    float: right;
}

.jouele-control {
    font-size: 0;
    overflow: hidden;
    white-space: nowrap;
}

.jouele-control-text {
    color: #000;
    font-size: 13px;
    padding: 0 2em 0 0;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.jouele_timeline_hide .jouele-progress-area {
    margin-top: -16px;
    top: 0;
    opacity: 0;
    -webkit-transition-property: opacity, margin-top;
    -moz-transition-property: opacity, margin-top;
    -o-transition-property: opacity, margin-top;
    transition-property: opacity, margin-top;
    -webkit-transition-duration: 0.33s, 0.33s;
    -moz-transition-duration: 0.33s, 0.33s;
    -o-transition-duration: 0.33s, 0.33s;
    transition-duration: 0.33s, 0.33s;
    -webkit-transition-timing-function: ease-out, ease-out;
    -moz-transition-timing-function: ease-out, ease-out;
    -o-transition-timing-function: ease-out, ease-out;
    transition-timing-function: ease-out, ease-out;
}

.jouele-status-playing .jouele-progress-area {
    margin-top: 0;
    opacity: 1;
}

.jouele-hidden {
    display: none;
}
