/* Black skin */
.jouele-skin-dark .jouele-progress-line-bar_base:after,
.jouele-skin-dark .jouele-progress-line-bar_load:after {
    background-color: #bfbfbf;
}
.jouele-skin-dark .jouele-progress-line-bar_play:after {
    background-color: currentColor;
}
.jouele-skin-dark.jouele-status-playing .jouele-progress-line-bar_play:after,
.jouele-skin-dark .jouele-status-playing .jouele-progress-line-bar_play:after {
    background-color: #f59331;
}
.jouele-skin-dark .jouele-progress-line:hover .jouele-progress-line-bar_play:after {
    background-color: #d04000;
}
.jouele-skin-dark .jouele-progress-line-lift {
    background-color: currentColor;
}
.jouele-skin-dark.jouele-status-playing .jouele-progress-line-lift,
.jouele-skin-dark .jouele-status-playing .jouele-progress-line-lift {
    background-color: #f59331;
}
.jouele-skin-dark .jouele-progress-line:hover .jouele-progress-line-lift {
    background-color: #d04000;
}
.jouele-skin-dark .jouele-progress-line-lift:before {
    border-color: currentColor;
}
.jouele-skin-dark.jouele-status-playing .jouele-progress-line-lift:before,
.jouele-skin-dark .jouele-status-playing .jouele-progress-line-lift:before {
    border-color: #f59331;
}
.jouele-skin-dark .jouele-progress-line:hover .jouele-progress-line-lift:before {
    border-color: #d04000;
}

.jouele-skin-dark .jouele-info-control-button-icon_unavailable .jouele-svg-color,
.jouele-skin-dark .jouele-info-control-button-icon_play .jouele-svg-color {
    fill: currentColor;
}
.jouele-skin-dark .jouele-info-control-button-icon_pause .jouele-svg-color {
    fill: #f59331;
}
.jouele-skin-dark .jouele-info-control-button:hover .jouele-info-control-button-icon_play .jouele-svg-color,
.jouele-skin-dark .jouele-info-control-button:hover .jouele-info-control-button-icon_pause .jouele-svg-color {
    fill: #d04000;
}
.jouele-skin-dark .jouele-info-time {
    color: inherit;
}
