.jouele {
    display: block;
    position: relative;
    line-height: 16px;
}

.jouele,
.jouele * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.jouele-progress-area {
    position: relative;
    width: 100%;
    height: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jouele-mine {
    width: 100%;
    top: 0;
    height: 11px;
    position: absolute;
}

.jouele-mine-bar,
.jouele-load-bar,
.jouele-play-bar {
    position: absolute;
    box-sizing: border-box;
}
.jouele-mine-bar:after,
.jouele-load-bar:after,
.jouele-play-bar:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
}

.jouele-mine-bar {
    height: 11px;
    width: 100%;
    top: 0;
    z-index: 10;
}
.jouele-mine-bar:after {
    background: #bfbfbf;
}

.jouele-load-bar {
    height: 11px;
    width: 100%;
    top: 0;
    z-index: 20;
    cursor: pointer;
}
.jouele-load-bar:after {
    background: #bfbfbf;
}


.jouele-play-bar {
    height: 11px;
    top: 0;
    z-index: 30;
    cursor: pointer;
}
.jouele-play-bar:after {
    background-color: #000;
    transition: background-color 0.16s linear;
}
.jouele-status-playing .jouele-play-bar:after {
    background-color: #f59331;
}
.jouele-mine:hover .jouele-play-bar:after {
    background-color: #d04000;
    transition: none;
}

.jouele-play-lift {
    left: 0;
    top: 50%;
    width: 5px;
    height: 5px;
    margin: -2px 0 0;
    border-radius: 50%;
    z-index: 40;
    background-color: #000;
    cursor: pointer;
    position: absolute;
    transition: width 0.16s linear, height 0.16s linear, margin 0.16s linear, background-color 0.16s linear;
}
.jouele-status-playing  .jouele-play-lift {
    background-color: #f59331;
}
.jouele-mine:hover .jouele-play-lift {
    background-color: #d04000;
    width: 7px;
    height: 7px;
    margin-top: -3px;
    margin-left: -1px;
    transition: none;
}

.jouele-play-lift:before {
    content: '';
    width: 100%;
    height: 100%;
    padding: 2px;
    display: block;
    font-size: 0;
    position: absolute;
    left: -3px;
    top: -3px;
    border: 1px solid #000;
    border-radius: 50%;
    transition: border-color 0.16s linear, opacity 0.16s linear;
    -webkit-animation: preloader-animate .75s ease infinite;
    -moz-animation: preloader-animate .75s ease infinite;
    -o-animation: preloader-animate .75s ease infinite;
    animation: preloader-animate .75s ease infinite;
    display: none\0/; /* IE 8 */
    opacity: 0;
}
.jouele-play-lift_buffering:before {
    opacity: 1;
    display: block\0/; /* IE 8 */
}
.jouele-status-playing .jouele-play-lift:before {
    border-color: #f59331;
}
.jouele-mine:hover .jouele-play-lift:before {
    border-color: #d04000;
    transition: none;
}
@-webkit-keyframes preloader-animate {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-moz-keyframes preloader-animate {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@-o-keyframes preloader-animate {
    0% {
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes preloader-animate {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}


.jouele-info-area {
    z-index: 100;
    position: relative;
    overflow: hidden;
    padding: 0 0 2px;
    margin: 0 0 0 -4px;
}

.jouele-control {
    overflow: hidden;
    font-size: 13px;
    line-height: 1;
}
.jouele-control * {
    line-height: 1;
}

.jouele-control-button {
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.jouele-control-link {
    cursor: pointer;
    /* Перекрываем все возможные каскады на сайте */
    padding: 0 !important;
    margin: 0 !important;
    background: transparent !important;
    display: block !important;
    text-decoration: none !important;
    border: 0 !important;
    color: currentColor !important;
}
.jouele-control-button-icon {
    display: block;
}
.jouele-svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}
.jouele-svg-color {
    transition: fill 0.16s linear;
}
.jouele-control-button-icon_unavailable .jouele-svg-color,
.jouele-control-button-icon_play .jouele-svg-color {
    fill: #000;
}
.jouele-control-button-icon_pause .jouele-svg-color {
    fill: #f59331;
}
.jouele-control-button:hover .jouele-control-button-icon_play .jouele-svg-color,
.jouele-control-button:hover .jouele-control-button-icon_pause .jouele-svg-color {
    fill: #d04000;
    transition: none;
}
.jouele-control-text {
    line-height: 16px !important; /* Перекрываем все возможные каскады на сайте */
    padding: 0 2em 0 0;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.jouele-time {
    float: right;
    font-size: 11px;
    line-height: 16px !important; /* Перекрываем все возможные каскады на сайте */
    color: #606060;
    text-align: right;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jouele-play-time {
    float: left;
    margin-right: .65em;
}

.jouele-total-time {
    float: right;
}
.jouele-total-time__approx {
    padding-right: 0.3em;
}

.jouele_timeline_hide .jouele-progress-area {
    margin-top: -16px;
    display: none\0/; /* IE 8 */
    opacity: 0;
    transition: opacity 0.33s ease-out, margin-top 0.33s ease-out;
}

.jouele-status-playing .jouele-progress-area {
    margin-top: 0;
    opacity: 1;
    display: block\0/; /* IE 8 */
}

.jouele-hidden {
    display: none !important;
}
