.jouele {
    display: block;
    position: relative;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 16px;
}

.jouele,
.jouele * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.jouele-progress-area {
    position: relative;
    width: 100%;
    height: 11px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jouele-mine {
    width: 100%;
    top: 0;
    height: 11px;
    position: absolute;
}

.jouele-mine-bar,
.jouele-load-bar,
.jouele-play-bar {
    position: absolute;
    box-sizing: border-box;
}
.jouele-mine-bar:after,
.jouele-load-bar:after,
.jouele-play-bar:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
}

.jouele-mine-bar {
    height: 11px;
    width: 100%;
    top: 0;
    z-index: 10;
}
.jouele-mine-bar:after {
    background: #dddddd;
}

.jouele-load-bar {
    height: 11px;
    width: 100%;
    top: 0;
    z-index: 20;
    cursor: pointer;
}
.jouele-load-bar:after {
    background: #bfbfbf;
}

.jouele-play-bar {
    height: 11px;
    top: 0;
    z-index: 30;
    cursor: pointer;
}
.jouele-play-bar:after {
    background-color: #000;
    transition: background-color 0.14s linear;
}
.jouele-status-playing  .jouele-play-bar:after {
    background-color: #f59331;
}
.jouele-mine:hover .jouele-play-bar:after {
    background-color: #d04000;
    transition: none;
}

.jouele-play-lift {
    left: 0;
    top: 50%;
    width: 5px;
    height: 5px;
    margin: -2px 0 0;
    border-radius: 50%;
    z-index: 40;
    background-color: #000;
    cursor: pointer;
    position: absolute;
    transition: width 0.14s linear, height 0.14s linear, margin 0.14s linear, background-color 0.14s linear;
}
.jouele-status-playing  .jouele-play-lift {
    background-color: #f59331;
}
.jouele-mine:hover .jouele-play-lift {
    background-color: #d04000;
    width: 9px;
    height: 9px;
    margin-top: -4px;
    margin-left: -2px;
    transition: none;
}

.jouele-buffering {
    width: 10px;
    height: 10px;
    display: block;
    font-size: 0;
    position: absolute;
    left: -3px;
    top: -3px;
    transition: top 0.14s linear, left 0.14s linear;
    /*opacity: 0;*/
}
.jouele-buffering:after {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    background: transparent;
    border-bottom-color: transparent;
    border-radius: 100%;
    transition: border-color 0.14s linear, width 0.14s linear, height 0.14s linear;
    -webkit-animation: ball-clip-rotate .75s linear infinite;
    -moz-animation: ball-clip-rotate .75s linear infinite;
    -o-animation: ball-clip-rotate .75s linear infinite;
    animation: ball-clip-rotate .75s linear infinite;
}
.jouele-status-playing .jouele-buffering:after {
    border-color: #f59331;
    border-bottom-color: transparent;
}
.jouele-mine:hover .jouele-buffering {
    left: -5px;
    top: -5px;
    transition: none;
}
.jouele-mine:hover .jouele-buffering:after {
    border-color: #d04000;
    border-bottom-color: transparent;
    width: 18px;
    height: 18px;
    transition: none;
}
@-webkit-keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.jouele-buffering_visible_true {
    opacity: 1;
}


.jouele-info-area {
    z-index: 100;
    position: relative;
    overflow: hidden;
    padding: 0 0 2px;
    margin: 0 0 0 -4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.67);
}

.jouele-control {
    overflow: hidden;
    font-size: 13px;
    line-height: 1;
}

.jouele-control-button {
    float: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.jouele-control-link {
    cursor: pointer;
    /* Перекрываем все возможные каскады на сайте */
    padding: 0 !important;
    margin: 0 !important;
    background: transparent !important;
    display: block !important;
    text-decoration: none !important;
    border: 0 !important;
}
.jouele-control-button-icon {
    display: block;
}
.jouele-svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}
.jouele-svg-color {
    transition: fill 0.14s linear;
}
.jouele-control-button-icon_unavailable .jouele-svg-color,
.jouele-control-button-icon_play .jouele-svg-color {
    fill: #010101;
}
.jouele-control-button-icon_pause .jouele-svg-color {
    fill: #f59331;
}
.jouele-control-button:hover .jouele-control-button-icon_play .jouele-svg-color,
.jouele-control-button:hover .jouele-control-button-icon_pause .jouele-svg-color {
    fill: #d04000;
    transition: none;
}
.jouele-control-text {
    line-height: 1.2;
    padding: 0 2em 0 0;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
}

.jouele-time {
    float: right;
    font-size: 11px;
    color: #606060;
    text-align: right;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jouele-play-time {
    float: left;
    margin-right: .5em;
}

.jouele-total-time {
    float: right;
}

.jouele_timeline_hide .jouele-progress-area {
    margin-top: -16px;
    top: 0;
    opacity: 0;
    transition: opacity 0.33s ease-out, margin-top 0.33s ease-out;
}

.jouele-status-playing .jouele-progress-area {
    margin-top: 0;
    opacity: 1;
}

.jouele-hidden {
    display: none;
}
